.navbar{
    background-color: rgb(98, 98, 180);
}
.navbar .navbar-nav .nav-item .nav-link{
    color: wheat;
    
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: rgb(12, 11, 11);
}
.navbar .navbar-brand{
    color: white;
}

.row{
    margin-top: 5%;
}

.container .row div{
    margin-bottom: 3%;
}
.carousel .carousel-inner .carousel-item .img-fluid{
    margin-left: 5%;
    max-width: 90%;
   max-height:500px;
}

h2{
    padding:20px;
    text-align: center;
}

.card{
    margin-right: 5px;
}